<div id='container'>
  <!-- Your html here -->
  <a href='/#/links'>All Links</a>
  <a href='/#/shorten'>Shorten</a>
  <div>
    Search: <input ng-model='query' placeholder='filter'>
  </div>
  <div class='link' ng-repeat="link in data.links | filter:query | orderBy:'-visits'">
    <img src='../assets/redirect_icon.png'>
    <div class='info'>
      <div class='visits'><span class='count'>{{ link.visits }}</span>Visits</div>
      <div class='title'>{{ link.title }}</div>
      <div class='original'>{{ link.url }}</div>
      <a ng-href='{{link.base_url + "/api/links/" + link.code }}'>{{ link.base_url }}/{{ link.code }}</a>
    </div>
  </div>
</div>

<!-- <table>
    <tr>
      <th></th>
      <th><h3>Website</h3></th>
      <th><h3>Shortened URL</h3></th>
      <th><h3>Visits</h3></th>
    </tr>
    <tr ng-repeat="link in data.links | filter:query | orderBy:'-visits'">
      <td><img src='../assets/redirect_icon.png'></td>
      <td> {{ link.title }} </td>
      <td> <a ng-href='{{link.base_url + "/api/links/" + link.code }}'>  {{ link.base_url + '/api/links/' + link.code}} </a> </td>
      <td> <h3>{{ link.visits }}</h3></td>
    </tr> -->
